body {
  font-family: GothamBook !important;
}
/* font */
@font-face {
  font-family: GothamBook;
  src: url("../public/font/GOTHAM/GothamBook.ttf");
}
@font-face {
  font-family: KnockoutSumo;
  src: url("../public/font/KNOCKOUT/Knockout-HTF54-Sumo.otf");
}
@media (max-width: 576px) {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
  .container {
      padding-left: calc(var(--bs-gutter-x) * 1) !important;
      padding-right: calc(var(--bs-gutter-x) * 1) !important;
  }
  .container-buat-pantun{
      position: fixed;
      top: 0;
      background-image: url("../public/img/BATTLE\ PANTUN\ TEMPLATE.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh !important;
  }
  .subtitle-style {
      color: #FDFEFF;
      font-size: 3.15vw;
      font-weight: 500;
  }
  .title-style {
      display: table-cell;
      vertical-align: middle;
  }
  .btn {
      background-color: #04ADC0 !important;
      text-decoration: none;
      color: #FDFEFF !important;
      width: 8rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4)!important;
  }
  .head-img {
      width: 100vw;
      object-fit: fill;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
  }
  .banner {
      object-fit: cover !important;
  }
  .title-personal-data {
      color: #3A3D3C;
      font-weight: 300;
  }
  .title-personal-data span {
      font-weight: 600;
  }
  .form-personal-data {
      padding-left: calc(var(--bs-gutter-x) * 1.5) !important;
      padding-right: calc(var(--bs-gutter-x) * 1.5) !important;
      margin-left: auto !important;
      margin-right: auto !important;
  }
  .form-personal-data-input label{
      font-weight: 300;
  }
  .form-personal-data-input input {
      background-color: #D8E6F3;
  }
  .isi-pantun{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  #submit-share-button {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: 5vh;
    transform: translate(-50%, -50%);
  }
  .isi-pantun textarea{
      background: transparent;
      border: none;
      overflow: hidden;
      outline: none;
      box-shadow: none;
      resize: none;
      text-decoration-color: #2D535E;
      font-size: 3vh;
      text-align: center;
      line-break: auto;
      line-height: 6vh;
  }
  .ucapan-thanks p {
      color: #FDFEFF;
      margin-left: 0;
      font-weight: 300;
      font-size: small;
      text-align: center;
  }
  .ucapan-thanks p span {
      font-weight: bold;
      text-align: center;
  }
  .modal-content {
      background-color: #FDFEFF;
  }
  .modal-content p{
      color: #04ADC0;
  }
  .sharePic {
      height: 50vh;
      margin-top: 10vh;
      margin-bottom: 20vh;
  }
  .container-sharePic {
      background-color: #FDFEFF;
      height: 100vh;
  }
  .container-sharePic a {
      text-decoration: none;
      color: #000;
  }
  .container-sharePic .col {
      text-align: center;
  }
  label {
    display: block;
  }
}